.basic {
    color: blue
    background-color:azure;
    padding: 1rem;
    cursor: pointer;
    border: 0 solid;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    font-size: 120%;
    transition: all 500ms;
}

.basic:hover {
    background-color:white;
}

.grow {
    color: white
    background-color: yellowgreen
    width: 10rem;
    height: 4rem;
    cursor: pointer;
    border: 0 solid;
    font-family: Arial, sans-serif;
    border-radius: 1rem;
    font-size: 130%;
    font-weight: bold;
    transition: all 250ms;
}

.grow:focus, .grow:hover {
    font-weight: bolder;
    transform: scale(200%);
}