.basic {
    color: blue
    background-color:azure;
    padding: 1rem;
    cursor: pointer;
    border: 0 solid;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    font-size: 120%;
    transition: all 500ms;
}

.basic:hover {
    background-color:white;
}

